body {
    background-color: white;
    color: black;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100vh;
    white-space: normal; /* テキストを折り返す */
}

.canvas-wrapper {
    position: relative;
}

.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 1;
}

.tab-button {
  position: relative;
  width: 70px; /* 固定幅 */
  background-color: transparent;
  color: grey;
  padding: 3px 8px; /* タブボタンの左右のパディングを広げて調整 */
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: -1.5px; /* タブとキャンバスの枠線を繋げるため */
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: none;
  z-index: 5;
}

.tab-button.active {
  background-color: white;
  color: black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid white;
}

.radio-group {
  position: absolute; /* Canvas 上にラジオボタンを配置 */
  display: none;
  gap: 10px; /* ラジオボタン間のスペース */
  margin-top: 20px; /* 上部とのスペース */
  left: 50px; /* Canvas内での位置調整 */
  z-index: 10; /* Canvasより前面に配置 */
}

input[type="radio"] {
  width: 15px; /* サイズ指定 */
  height: 15px; /* サイズ指定 */
  cursor: pointer; /* マウスオーバー時にポインタを表示 */
  transition: transform 0.2s, background-color 0.3s ease;
}

button {
  cursor: pointer;
}

#container {
    transform-origin: 0 0;
}

#tab-relFig, #tab-diffFig, .canvas-wrapper {
    display: none;
}

#tooltip {
  position: absolute;
  background-color: #ffffcc;;
  color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px; /* 角を少し丸める */
  visibility: hidden;
  font-size: 15px;
  white-space: nowrap;
  z-index: 20;
}